<%= form_for(@video_signal) do |f| %>
  <% if @video_signal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video_signal.errors.count, "error") %> prohibited this video_signal from being saved:</h2>

      <ul>
      <% @video_signal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
