<h1>Listing video_signals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @video_signals.each do |video_signal| %>
      <tr>
        <td><%= video_signal.name %></td>
        <td><%= video_signal.source %></td>
        <td><%= link_to 'Show', video_signal %></td>
        <td><%= link_to 'Edit', edit_video_signal_path(video_signal) %></td>
        <td><%= link_to 'Destroy', video_signal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video signal', new_video_signal_path %>
