<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video_signal.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @video_signal.source %>
</p>

<%= link_to 'Edit', edit_video_signal_path(@video_signal) %> |
<%= link_to 'Back', video_signals_path %>
